// search-sec
.search-items{
	max-width: 450px;
	margin: 60px auto;
	background: var(--background);
	padding: 10px;
	border-radius: 5px;

	svg{
		width: 24px;
		color: var(--heading);
	}
	input {
		border: none;
		background: var(--background);
		font-weight: 600;
	}
	button {
		background: var(--background);
		border: none;
	}
}

.search-sec {
	margin: 10px;
}