:root{
    --primary:rgb(93, 202, 93);
    --text:rgba(32,41,47,.6);
    --heading:#173557;
    --body: #808080;
    --background:#f0f2f4;
    --white: #fff;
    --black: #000;
    --extra: #2b2b2b;
    --regi-page: #85bd64;
    --header: rgb(181, 228, 199);
}